/* login.css - External CSS file for the login page */

body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
}

.login-container {
    width: 300px;
    margin: 100px auto;
    background: #83b1e4;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #cf627d;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: rgb(129, 60, 60);
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #4cae4c;
}
